.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../img/bg1.jpg) center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        color: #ffffff;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 42px;
    }
    &__subheader {
        color: #ffffff;
        font-size: 24px;
        line-height: 24px;
        margin-top: 17px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__icons {
        margin-top: 65px;
        display: flex;
        justify-content: space-around;
        width: 475px;
    }
    &__icon{
        width: 108px;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        margin-top: 18px;
        a {
            color: #ffffff;
            text-decoration: underline;
            text-transform: uppercase;
        }
        
    }
}
@media (max-width: 767px) {
    .promo {
        min-height: 650px;
        padding: 20px 0 30px 0;
        background: url(../img/bg1.jpg) center (left/cover) no-repeat;
        &__wrapper {
            align-items: center;
        }
        /* &__icons {
            justify-content: space-between;
            width: 475px;
        } */
        
    }


}
@media (max-width: 575px) {
    .promo {
        &__wrapper {
            margin-top: 30px;
            align-items: center;
            justify-content: center;
        }
        &__header {
            text-align: center;
        }
        &__subheader {
            text-align: center;
        }
        &__icons {
            justify-content: space-around;
            width: 100%;
        }
    }
    
}

@media (max-width: 436px) {
    .promo {
        &__header {
            font-size: 32px;
            line-height: 32px;
        }
        &__icons {
            margin-top: 35px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        &__icon{
            width: 80%;
            text-align: center;
            color: #ffffff;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 25px;
            img {
                display: block;
                margin: 0 auto;
                margin-bottom: 10px;
            }
        }
    }
}
